<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr424q.phantuananh.homework1">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditDepartment"></activity>
        <activity android:name=".StudentListOfDepartment" />
        <activity android:name=".EditInformation" />
        <activity android:name=".Model.DepartmentList"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddDepartment" />
        <activity android:name=".ShowInformation" />
        <activity android:name=".Model.StudentList"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SaveInformation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>